*.swp
.libs/
compile
config.guess
config.sub
libnn-*a
libtool
ltmain.sh
m4/
nn-0.1.pc
nn-0.1.tar.gz
nn/.dirstamp
*.lo
output.txt
nn/nn
src/.dirstamp
testnn
*.o
src/nn
config.h
*.status
.deps/
stamp-h1
aclocal.m4
autom4te.cache/
*.in
*~
install-sh
*.log
missing
Makefile
Makefile.in
gmon.out
configure
depcomp
src/output.txt
build-aux/
configure.scan
